root = true

[*]
indent_style = tab
tab_width = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
max_line_length = off

[{Dockerfile,*.md}]
trim_trailing_whitespace = false
indent_size = false
indent_style = space
